.list {
    background: white;
    border-width: 1px;
    border-style: solid;
    /*padding: 1rem 0 2rem 0;*/

    & > li {
        position: relative;
        overflow: hidden;
        padding: 0.8rem 2rem 0.8rem 2rem;
        display: block;
        cursor: pointer;
        border-left: 0.3rem solid transparent;
    }
}