:root {
    --border-color: rgb(220, 227, 236);
    --box-shadow: 0 0px 6px rgba(0,0,0,0.1);
    --button-css-border-radius: 20px;
    --button-css-overflow: hidden;
    --button-css-padding: 8px 16px;
    --button-css-position: relative;
    --button-height: 1rem;
    --button-shadow-on-hover: 0 2px 8px;
    --button-shadow: 0 1px 6px;
    --checkbox-css-padding: 0px;
    --checkbox-unchecked-color: #abb7c7;
    --cs-dark-dark: #404551;
    --cs-dark-hover: #697084;
    --cs-dark-light: #697084;
    --cs-dark-origin: #575d6d;
    --cs-dark-ripple: rgba(19, 20, 24, 0.3);
    --cs-dark-shadow: rgba(87, 93, 109, 0.4);
    --cs-dark-text-hover: white;
    --cs-dark-text: white;
    --cs-light-dark: #b1c2d4;
    --cs-light-hover: #ecf0f5;
    --cs-light-light: #ecf0f5;
    --cs-light-origin: #d2dce6;
    --cs-light-ripple: rgba(112, 143, 175, 0.3);
    --cs-light-shadow: rgba(210, 220, 230, 0.4);
    --cs-light-text-hover: #697084;
    --cs-light-text: #575d6d;
    --cs-primary-dark: #1e4380;
    --cs-primary-hover: #3069ca;
    --cs-primary-light: #3069ca;
    --cs-primary-origin: #2858a9;
    --cs-primary-ripple: rgba(111, 152, 221, 0.3);
    --cs-primary-shadow: rgba(40, 88, 169, 0.4);
    --cs-primary-text-hover: #ebebeb;
    --cs-primary-text: white;
    --cs-secondary-dark: #ae1142;
    --cs-secondary-hover: #ea306b;
    --cs-secondary-light: #ea306b;
    --cs-secondary-origin: #dc1654;
    --cs-secondary-ripple: rgba(242, 123, 160, 0.3);
    --cs-secondary-shadow: rgba(220, 22, 84, 0.4);
    --cs-secondary-text-hover: #ebebeb;
    --cs-secondary-text: white;
    --disabled-opacity: 0.5;
    --input-field-border-color: #abb7c7;
    --input-field-height: 2.5rem;
    --input-field-placeholder-color: #9fa4b3;
    --list-selected-item-bg-color-start: #c6dcf6;
    --list-selected-item-bg-color: #f2f7fd;
    --menu-padding: 0.6rem;
    --menu-z-index: 1000000;
    --message-bg-dark-info: #39393b;
    --message-bg-error: #ffd5d5;
    --message-bg-info: #f3f5fc;
    --message-bg-success: #daffbf;
    --message-bg-warning: #ffface;
    --message-color-dark-info: #f1f1f1;
    --message-color-error: #7f0d31;
    --message-color-info: #575d6d;
    --message-color-success: #44652b;
    --message-color-warning: #61562f;
    --pane-title-bg: #d2dce6;
    --pane-border-color: color-mix(in srgb, var(--pane-title-bg), black 10%);
    --select-border-color: var(--input-field-border-color);
    --select-height: 2.5rem;
    --select-item-height: 2.5rem;
    --select-placeholder-color: #7d8395;
    --select-selected-option-bg: #e8f0fb;
    --switch-background: #abb7c7;
    --table-body-col-bg: white;
    --table-border-color: #bbc7d3;
    --table-footer-col-bg: white;
    --table-header-col-bg: #d2dce6;
    --table-hover-color: #ececf5;
    --tabs-border-width: 4px;
    --tabs-height: 1rem;
    --tabs-tab-content-padding: 0.5rem;
    --tabs-tab-padding: 0.5rem;
    --tooltip-bg: #575d6d;
    --tooltip-color: white;
    --transition-duration: 0.15s;
}